<h1>Welcome to Word Count</h1>
<form action="/wordcount">
  <div class="form-group">
    <label for="sentence">Enter your sentence:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <div>
    <label for="word">Enter the word you want to check frequency of:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn-success">Word Count!</button>
</form>
